.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 1440px;
  height: 61px;

  padding-left: 180px;
  padding-right: 180px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: rgba(255, 255, 255, 0.1);

  backdrop-filter: blur(58px);
  -webkit-backdrop-filter: blur(58px);

  box-shadow: 0px 16px 16.6px rgba(0, 0, 0, 0.25);

  z-index: 1000;
}

/* LOGO */
.header-left img {
  height: 32px;
}

/* NAV */
.header-right {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header-right a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  opacity: 0.85;
}

.header-btn {
  padding: 8px 16px;
  border-radius: 8px;

  background: #09AF9B;
  color: #ffffff;

  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
