/* COURSES */
.home-courses {
  padding: 100px 0;
}

/* TESTIMONIALS */
.home-testimonials {
  padding: 80px 0;
}

/* FOUNDERS */
.home-founders {
  padding: 100px 0;
}

/* CONTACT */
.home-contact {
  padding-bottom: 120px; 
}
body {
  padding-top: 61px; 
}