.quantum-healing {
  width: 1440px;
  height: 500px;
  margin-top: 100px;
  position: relative;
  text-align: center;
}

.quantum-healing h2 {
  font-size: 36px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 16px;
}

.subtitle {
  font-size: 14px;
  color: #bfbfbf;
  margin-top: 8px;
}

/* MAIN CONTENT */
.quantum-content {
  position: relative;
  width: 100%;
}

/* LEFT */
.quantum-left {
  position: absolute;
  width: 296px;
  height: 210px;
  top: 110px;
  left: 180px;

  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  text-align: left;
  color: #cfcfcf;
}

/* CENTER IMAGE */
.quantum-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.quantum-center img {
  width: 360px;
}

/* RIGHT */
.quantum-right {
  position: absolute;
  width: 310px;
  height: 168px;
  top: 130px;
  left: 1035px;

  display: flex;
  flex-direction: column;
  gap: 16px;

  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.6%;
  color: #ffffff;
}

/* POINTS */
.point {
  display: flex;
  align-items: center;
  gap: 12px;
}

.arrow {
  font-size: 18px;
  color: #ffffff;
}

blockquote {
  position: absolute;
  bottom: 10px;
  width: 100%;
  font-size: 14px;
  color: #cfcfcf;
}

blockquote span {
  display: block;
  margin-top: 16px;
  font-size: 12px;
  opacity: 0.8;
  margin-left: 400px;
}
