.why-choose-wrapper {
  position: relative;

  max-width: 1440px;
  margin: 0 auto;

  padding: 140px 180px;

  display: flex;
  justify-content: flex-end;

  overflow: hidden; 
}

/* CONTENT POSITION */
.why-choose-content {
  z-index: 2;
}

/* TOP LEFT DESIGN */
.design-left {
  position: absolute;
  top: 40px;
  left: 0;

  width: 260px;
  opacity: 0.9;
}

/* BOTTOM RIGHT DESIGN */
.design-right {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 300px;
  opacity: 0.9;
}
